@model IEnumerable<Minor.Dag21.CASServiceClient.Agents.Models.Cursist>

@{
    ViewData["Title"] = "Cursisten";
}

<h2>Cursisten</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
